body {
  background-image: url("../images/background.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

body {
  display: flex;   /* https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
  align-items: center;
  justify-content: center;
}

.submit {     /* center submit button */
    text-align: center;
}
